<app-header></app-header>
<router-outlet></router-outlet>
<!-- <div class="container py-5 text-center bg-light border rounded">
    <h1 class="display-4">Welcome to Our Site!</h1>
    <p class="lead">This is a simple hero section to grab attention.</p>
    <hr class="my-4">
    <p>Click the button below to explore more.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>


<div class="container">

    <div class="row">
        <div class="col-md-4" *ngFor="let user of users(); trackBy: trackByUserId">
            <div class="card mb-4" style="width: 18rem;">
                <img src="https://via.placeholder.com/286x180" class="card-img-top" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title">{{ user.name }}</h5>
                    <p class="card-text">Age: {{ user.age }}</p>
                    <p class="card-text">Email: {{ user.email }}</p>
                    <a [routerLink]="['/user', user.id, user.name]" class="btn btn-primary">View Profile</a>
                </div>
            </div>
        </div>
    </div>
</div> -->